body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}

.default {
	position: absolute;
	top: 0;
	left: 0;
}

#banner {
	background: #111;
    overflow: hidden;
    width: $banner-width;
    height: $banner-height;
    opacity: 0;

    #button-exit {
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        height: 100%;
        width: 100%;
    }

    #border {
		display: block;
		width: $banner-width;
		height: $banner-height;
        pointer-events: none;
		outline: solid 1px #ccc;
  		outline-offset: -1px;
		z-index: 999;
    }

    #title {
        font-size: 40px;
        line-height: 1;
        letter-spacing: -1px;
        color: #ff0000;
        text-align: center;
    }

    #caption {
        text-align: center;
    }
}
