<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <title><%= appname %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ad.size" content="<%= dimensions %>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <% if (bannerType === 'DoubleClick') { %><script src="https://s0.2mdn.net/ads/studio/Enabler.js"></script><% } %><% if (bannerType === 'Sizmek') { %><script src="https://secure-ds.serving-sys.com/BurstingScript/EBLoader.js"></script><% } %><% if (bannerType === 'DCM') { %><script>var clickTag=""</script><% } %>
</head>
<body>
    <div id="banner">
        <h1 id="title">Freakin Banners!</h1>
        <p id="caption">Get some</p>
        <div id="border"></div>
        <div id="button-exit"></div>
    </div>

    <% if (includeZepto == true) { %><script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js"></script><% } %>

    <!-- <script src="https://s0.2mdn.net/ads/studio/cached_libs/cssplugin_1.18.0_71489205621d46cbe88348eeb8fe493f_min.js"></script> -->
    <!-- <script src="https://s0.2mdn.net/ads/studio/cached_libs/easepack_1.18.0_ed5816e732515f56d96a67f6a2a15ccb_min.js"></script> -->
    <!-- <script src="https://s0.2mdn.net/ads/studio/cached_libs/tweenlite_1.18.0_56fa823cfbbef1c2f4d4346f0f0e6c3c_min.js"></script> -->
    <!-- <% if (bannerType === 'Flashtalking') { %><script src="http://cdn.flashtalking.com/frameworks/js/api/2/9/html5API.js"></script><% } %> -->

    <% if (bannerType === 'Flashtalking' || bannerType === 'None') { %><script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script><% } %><% if (bannerType === 'DCM' || bannerType === 'DoubleClick') { %><script src="https://s0.2mdn.net/ads/studio/cached_libs/tweenmax_1.19.0_643d6911392a3398cb1607993edabfa7_min.js"></script><% } %><% if (bannerType === 'Sizmek') { %><script src="https://secure-ds.serving-sys.com/BurstingcachedScripts/libraries/greensock/1_19_0/TweenMax.min.js"></script><% } %><% if (bannerType === 'Flashtalking') { %><script src="http://cdn.flashtalking.com/frameworks/js/api/2/9/html5API.js"></script><% } %>

    <!-- build:js scripts/main.js -->
    <% if (bannerType === 'DoubleClick') { %><script src="scripts/TrackingDoubleClick.js"></script><% } %><% if (bannerType === 'Sizmek') { %><script src="scripts/TrackingSizmek.js"></script><% } %><% if (bannerType === 'Flashtalking') { %><script src="scripts/TrackingFlashtalking.js"></script><% } %><% if (bannerType === 'DCM') { %><script src="scripts/TrackingDCM.js"></script><% } %><% if (bannerType === 'None') { %><script src="scripts/TrackingNone.js"></script><% } %>
    <script src="scripts/Animation.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
</body>
</html>
